<div class="row">
  <div class="col-md-4">
    <button class="btn btn-md btn-primary btn-block" (click)="this.goSchools()">Regresar</button>
  </div>
  <div class="col-md-4 offset-md-4">
    <button class="btn btn-md btn-primary btn-block" (click)="this.goCreateUser()">Crear usuario</button>
  </div>
</div>
<div class="row" style="margin-top:5%">
  <div class="col-md-12  table-responsive">
    <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th>Nombre</th>
          <th>Email</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr scope="row" *ngFor="let user of this.users | async">

          <td>
            {{user.name +" "+ user.lastName}}
          </td>

          <td>
            {{user.email}}
          </td>

          <td>
            <button class="btn btn-md btn-info btn-block" (click)="this.editUser()">Editar</button>
          </td>

          <td>
            <button class="btn btn-md btn-info btn-block" (click)="this.resetPassword(user.email)">Reset password</button>
          </td>
        </tr>
      </tbody>
    
    </table>
  </div>
  
</div>