<div class="row">
  <div class="col-md-4 mb-4">
    <label>Usuario: {{(this._loggedUser | async)?.name + " " +(this._loggedUser | async)?.lastName}}</label>
  </div>
  <div class="offset-md-4 col-md-4">
    <button class="btn btn-danger btn-block" (click)="this.signOut()">Cerrar sesión</button>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <button class="btn btn-md btn-primary btn-block" (click)="this.goStudents()">Regresar</button>
  </div>
</div>
<div class="row" style="margin-top:5%">
  <div class="col-md-12">

    <form #registroEstudiante="ngForm" (ngSubmit)="this.editStudent()">
      <h2 align="right">Editar estudiante</h2>
      <div class="form-group">
        <label>Colegio: {{this._school?.name}}</label>
      </div>
      <div class="form-group">
        <label>Sección: {{this._section?.course+' - '+this._section?.section}}</label>
      </div>
      <div class="form-group">
        <label for="selectSection">Sección</label>
        <select class="form-control" id="selectSection" required name="selectSection" placeholder="Sección" [ngModel]="this._student?.section"
          (ngModelChange)="this._student.section = $event" #selectSection="ngModel" [compareWith]="compareValue">
          <option *ngFor="let c of this._sections" [ngValue]="c.$key">{{c.section}}</option>
        </select>
        <div *ngIf="selectSection.errors && selectSection.touched" class="alert alert-danger">
          <div [hidden]="!selectSection.errors.required">La sección es requerida</div>
        </div>
      </div>
      <div class="form-group">
        <label for="inputFirstName">Primer nombre</label>
        <input type="text" class="form-control" id="inputFirstName" name="inputFirstName" required minlength="4" maxlength="50" placeholder="Primer nombre"
          [ngModel]="this._student?.firstName" (ngModelChange)="this._student.firstName = $event" #inputFirstName="ngModel">
        <div *ngIf="inputFirstName.errors && (inputFirstName.dirty || inputFirstName.touched)" class="alert alert-danger">
          <div [hidden]="!inputFirstName.errors.required">El primer nombre es requerido.</div>
          <div [hidden]="!inputFirstName.errors.minlength">Debe de tener minimo 2 digitos.</div>
          <div [hidden]="!inputFirstName.errors.maxlength">Dede de tener maximo 50 digitos </div>
        </div>
      </div>

      <div class="form-group">
        <label for="inputSecondName">Segundo nombre</label>
        <input type="text" class="form-control" id="inputSecondName" name="inputSecondName" minlength="4" maxlength="50"
          placeholder="Segundo nombre" [ngModel]="this._student?.secondName" (ngModelChange)="this._student.secondName = $event"
          #inputSecondName="ngModel">
        <div *ngIf="inputSecondName.errors && (inputSecondName.dirty || inputSecondName.touched)" class="alert alert-danger">
          <div [hidden]="!inputSecondName.errors.minlength">Debe de tener minimo 2 digitos.</div>
          <div [hidden]="!inputSecondName.errors.maxlength">Dede de tener maximo 50 digitos </div>
        </div>
      </div>
      <div class="form-group">
        <label for="inputFirstLastName">Primer apellido</label>
        <input class="form-control" id="inputFirstLastName" name="inputFirstLastName" required minlength="4" maxlength="50" placeholder="Primer apellido"
          [ngModel]="this._student?.firstLastName" (ngModelChange)="this._student.firstLastName = $event" #inputFirstLastName="ngModel">
        <div *ngIf="inputFirstLastName.errors && (inputFirstLastName.dirty || inputFirstLastName.touched)" class="alert alert-danger">
          <div [hidden]="!inputFirstLastName.errors.required">El primer apellido es requerido.</div>
          <div [hidden]="!inputFirstLastName.errors.minlength">Debe de tener minimo 2 digitos.</div>
          <div [hidden]="!inputFirstLastName.errors.maxlength">Dede de tener maximo 50 digitos </div>
        </div>
      </div>
      <div class="form-group">
        <label for="inputSecondLastName">Segundo apellido</label>
        <input type="text" class="form-control" id="inputSecondLastName" name="inputSecondLastName" required minlength="4" maxlength="50"
          placeholder="Segundo apellido" [ngModel]="this._student?.secondLastName" (ngModelChange)="this._student.secondLastName = $event"
          #inputSecondLastName="ngModel">
        <div *ngIf="inputSecondLastName.errors && (inputSecondLastName.dirty || inputSecondLastName.touched)" class="alert alert-danger">
          <div [hidden]="!inputSecondLastName.errors.required">El segundo apellido es requerido.</div>
          <div [hidden]="!inputSecondLastName.errors.minlength">Debe de tener minimo 2 digitos.</div>
          <div [hidden]="!inputSecondLastName.errors.maxlength">Dede de tener maximo 50 digitos </div>
        </div>
      </div>
      <div class="form-group">
        <label for="inputIdentification">Cédula</label>
        <input type="text" class="form-control" id="inputIdentification" name="inputIdentification" required minlength="4" maxlength="50"
          placeholder="Cédula" [ngModel]="this._student?.identification" (ngModelChange)="this._student.identification = $event" #inputIdentification="ngModel">
        <div *ngIf="inputIdentification.errors && (inputIdentification.dirty || inputIdentification.touched)" class="alert alert-danger">
          <div [hidden]="!inputIdentification.errors.minlength">Debe de tener minimo 2 digitos.</div>
          <div [hidden]="!inputIdentification.errors.maxlength">Dede de tener maximo 50 digitos </div>
        </div>
      </div>
      <div class="form-group">
        <label for="selectEstado">Estado</label>
        <select class="form-control" id="selectEstado" required name="selectEstado" [ngModel]="this._student?.state" (ngModelChange)="this._student.state = $event"
          #selectEstado="ngModel" [compareWith]="compareValue">
            <option *ngFor="let state of this.states" [ngValue]="state">{{state}}</option>
          </select>
        <div *ngIf="selectEstado.errors && selectEstado.touched" class="alert alert-danger">
          <div [hidden]="!selectEstado.errors.required">El estado es requerido</div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!registroEstudiante.form.valid">Editar</button>
    </form>
  </div>
</div>