<div class="row">
  <div class="col-md-4 mb-4">
    <label>Usuario: {{this._loggedUser?.name + " " +this._loggedUser?.lastName}}</label>
  </div>
  <div class="offset-md-4 col-md-4 mb-4">
    <button class="btn btn-danger btn-block" (click)="this.signOut()">Cerrar sesión</button>
  </div>
</div>
<div class="row">
  <div class="col-md-4 mb-4">
    <button class="btn btn-md btn-primary btn-block" (click)="this.goSections()">Secciones</button>
  </div>
  <div class="col-md-4 offset-md-4 mb-4">
    <button class="btn btn-md btn-primary btn-block" (click)="this.goCreateStudent()" *ngIf="this._loggedUser?.role=='ADMIN'">Crear estudiante</button>
  </div>
</div>
<div class="row">
  <div class="col-md-4 mb-4">
    <button class="btn btn-md btn-primary btn-block" (click)="this.goChooseDate()">Ver asistencia</button>
  </div>
  <div class="col-md-4 mb-4">
    <button class="btn btn-md btn-primary btn-block" (click)="this.goCreateAttendance()">Agregar asistencia</button>
  </div>
  <div class="col-md-4">
    <button class="btn btn-md btn-primary btn-block" (click)="this.goReport()" *ngIf="this._loggedUser?.role=='ADMIN'">Ver reporte</button>
  </div>
</div>
<div class="row">
  <div class="col-md-12 table-responsive mt-5">
    <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th>Nombres</th>
          <th>Apellidos</th>
          <th>Estado</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngFor="let student of this._students | async">
        <tr>
          <td>{{student.firstName+' '+student.secondName}}</td>
          <td>{{student.firstLastName+' '+student.secondLastName}}</td>
          <td>{{student.state}}</td>
          <td>
            <button class="btn btn-info btn-block" (click)="this.goEditSection()" *ngIf="this._loggedUser?.role=='ADMIN'">Editar</button>
          </td>
          <td>
            <button class="btn btn-info btn-block" (click)="this.goProfile(student.$key)">Ver</button>
          </td>
        </tr>
      </tbody>

    </table>
  </div>

</div>