<div class="row ">
  <div class="col-md-4 mb-4">
    <label>Usuario: {{this._loggedUser?.name + " " +this._loggedUser?.lastName}}</label>
  </div>
  <div class="offset-md-4 col-md-4 mb-4">
    <button class="btn btn-danger btn-block" (click)="this.signOut()">Cerrar sesión</button>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <button class="btn btn-md mb-4 btn-primary btn-block" (click)="this.goSchools()">Colegios</button>
  </div>
  <div class="col-md-4 offset-md-4">
    <button class="btn btn-md btn-primary btn-block" *ngIf="this._loggedUser?.role=='ADMIN'" (click)="this.goCreateSection()">Crear sección</button>
  </div>
</div>
<div class="row" style="margin-top:5%">
  <div class="col-md-12 table-responsive">
    <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th>Grado</th>
          <th>Sección</th>
          <th>Colegio</th>
          <th>Año</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngFor="let section of this._sections | async">
        <tr>
          <td>{{section.course}}</td>
          <td>{{section.section}}</td>
          <td>{{section.school}}</td>
          <td>{{section.year}}</td>
          <td>
            <button class="btn btn-info btn-block" *ngIf="this._loggedUser?.role=='ADMIN'" (click)="this.goEditSection()">Editar</button>
          </td>
          <td>
            <button class="btn btn-info btn-block" (click)="this.goStudents(section.$key)">Ver</button>
          </td>
        </tr>
      </tbody>

    </table>
  </div>

</div>