<div class="row">
  <div class="col-md-4 mb-4">
    <label>Usuario: {{this._loggedUser?.name + " " +this._loggedUser?.lastName}}</label>
  </div>
  <div class="offset-md-4 col-md-4">
    <button class="btn btn-danger btn-block" (click)="this.signOut()">Cerrar sesión</button>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <button class="btn btn-md btn-primary btn-block" (click)="this.goStudents()">Regresar</button>
  </div>
</div>
<div class="row" *ngIf="this._errorMessage">
  <div class="col-md-12 mt-5">
    <h3>{{this._errorMessage}}</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-12 mt-5">
    <form *ngIf="!this._errorMessage" #formAttendance="ngForm" (ngSubmit)="this.createAttendance()">
      <h2 align="right">Editar asistencia</h2>
      <div class="form-group row" style="margin-top: 10%; margin-bottom:10%">
        <div class="col-6"><button type="button" class="btn btn-md btn-primary btn-block" (click)="this.selectNone()">Ninguno</button></div>
        <div class="col-6"><button type="button" class="btn btn-md btn-primary btn-block" (click)="this.selectAll()">Todos</button></div>
      </div>
      <div class="row">
        <div class="col-12">
          <h3>Estudiantes en lista</h3>
          <div *ngFor="let student of this._attendances">
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                    <input type="checkbox" class="form-check-input float-right" [name]="student.name" [(ngModel)]="student.attended">
                    <span class="checkboxLabel">{{student.name}}</span>
                </label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12" style="margin-top:5%" *ngIf="this._new_students.length>0">
          <h3>Estudiantes no listados</h3>
          <div *ngFor="let neWstudent of this._new_students">
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                      <input type="checkbox" class="form-check-input float-right" name="student.name" [(ngModel)]="neWstudent.attended">
                      <span class="checkboxLabel">{{neWstudent.name}}</span>
                  </label>
            </div>
          </div>
        </div>
      </div>
      <div style="margin-top: 10%;">
        <button type="submit" class="btn btn-primary">Actualizar</button>
      </div>
    </form>

  </div>
</div>