<div class="row">
  <div class="col-md-4">
    <button class="btn btn-lg btn-primary btn-block" (click)="this.goUsers()">Usuarios</button>
  </div>
  <div class="col-md-4 offset-md-4">
    <button class="btn btn-lg btn-primary btn-block" (click)="this.goCreateSchool()">Crear colegio</button>
  </div>
</div>
<div class="row" style="margin-top:5%">
  <div class="col-md-12 table-responsive">
    <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th>Nombre</th>
          <th>Dirección</th>
          <th>Teléfono</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngFor="let school of this._schools | async">
        <tr>
          <td>{{school.name}}</td>
          <td>{{school.address}}</td>
          <td>{{school.phone}}</td>
          <td>
            <button class="btn btn-lg btn-info btn-block" (click)="this.goEditSchool()">Editar</button>
          </td>
          <td>
            <button class="btn btn-lg btn-success btn-block" (click)="this.goClassrooms(school.$key)">Ver</button>
          </td>
        </tr>
      </tbody>
    
    </table>
  </div>
  
</div>